In [19]:
import pandas as pd 
import numpy as np
from scipy import stats

In [2]:
website_data=pd.read_csv(r"homepage_actions.csv")
website_data.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [3]:
control_data=website_data[website_data["group"]=="control"]
control_data

                       timestamp      id    group action
3     2016-09-24 19:59:02.646620  671993  control   view
9     2016-09-24 21:00:12.278374  560027  control   view
23    2016-09-25 00:25:14.141290  281985  control   view
24    2016-09-25 01:14:48.603202  407864  control   view
25    2016-09-25 02:16:11.046654  342984  control   view
...                          ...     ...      ...    ...
8178  2017-01-18 08:17:12.675797  616692  control   view
8181  2017-01-18 09:07:37.661143  795585  control   view
8182  2017-01-18 09:09:17.363917  795585  control  click
8186  2017-01-18 10:08:51.588469  505451  control   view
8187  2017-01-18 10:24:08.629327  461199  control   view

[4264 rows x 4 columns]

In [5]:
control_data["group"].value_counts()

group
control    4264
Name: count, dtype: int64

In [6]:
experimental_data=website_data[website_data["group"]=="experiment"]
experimental_data.tail()

                       timestamp      id       group action
8179  2017-01-18 08:53:50.910310  615849  experiment   view
8180  2017-01-18 08:54:56.879682  615849  experiment  click
8183  2017-01-18 09:11:41.984113  192060  experiment   view
8184  2017-01-18 09:42:12.844575  755912  experiment   view
8185  2017-01-18 10:01:09.026482  458115  experiment   view

In [9]:
experimental_clicks=sum(experimental_data["action"]=="click")
experimental_clicks

928

In [10]:
experimental_views=sum(experimental_data["action"]=="view")
experimental_views

2996

In [11]:
experimental_ctr=experimental_clicks/experimental_views
experimental_ctr

0.3097463284379172

In [12]:
control_clicks=sum(control_data["action"]=="click")
control_clicks

932

In [13]:
control_views=sum(control_data["action"]=="view")
control_views

3332

In [14]:
control_ctr=control_clicks/control_views
control_ctr

0.2797118847539016

In [15]:
experimental_mean= len(experimental_data)*experimental_ctr
experimental_mean

1215.444592790387

In [16]:
control_mean=len(control_data)*control_ctr
control_mean

1192.6914765906363

In [18]:
pooled_probability=(experimental_clicks+control_clicks)/(len(control_data)+len(experimental_data))
pooled_probability

0.22716170004885197

In [20]:
control_len=len(control_data)
control_len

4264

In [21]:
experimental_len=len(experimental_data)
experimental_len

3924

In [22]:
standard_error=np.sqrt((pooled_probability*(1-pooled_probability))*((1/experimental_len)+(1/control_len)))
standard_error

np.float64(0.009268889250105546)

In [23]:
z_statistic=(experimental_ctr-control_ctr)/standard_error
z_statistic

np.float64(3.2403498276423615)

In [24]:
pvalue=2*(1-stats.norm.cdf(abs(z_statistic)))
pvalue

np.float64(0.0011938313697406056)