In [2]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [3]:
it_salaries=pd.read_csv(r"IT_salaries.csv")
it_salaries.head()

       S  X  E  M
0  13876  1  1  1
1  11608  1  3  0
2  18701  1  3  1
3  11283  1  2  0
4  11767  1  3  0

In [9]:
salaries= "S~+C(E)+C(M)+X"
lm=ols(salaries,it_salaries).fit()
table=sm.stats.anova_lm(lm,typ=2)
table

                sum_sq    df           F        PR(>F)
C(E)      9.152624e+07   2.0   43.351589  7.672450e-11
C(M)      5.075724e+08   1.0  480.825394  2.901444e-24
X         3.380979e+08   1.0  320.281524  5.546313e-21
Residual  4.328072e+07  41.0         NaN           NaN

#### ONE WAY---TWO SAMPLE T TEST
# COMPARES ONE INDEPENDNT VARIABLE FACTOR with two or more groups eg comparing test scores between 3 teaching methods
#### TWO WAY ANOVA--
# compares two independent variables for example test scores by teaching method and gender
#### Repeated measures anova---
# compares same subject measured under different conditions or times eg blood pressure before, during, and after treatment on same patient

In [11]:
#one way
import pandas as pd
import numpy as np
from scipy.stats import f_oneway

# Sample data
campaign_A = [12, 15, 14, 10, 13, 15, 11, 14, 13, 16]
campaign_B = [18, 17, 16, 15, 20, 19, 18, 16, 17, 19]
campaign_C = [10, 9, 11, 10, 12, 9, 11, 8, 10, 9]
# Perform one-way ANOVA
f_stat,p_value=f_oneway(campaign_A,campaign_B,campaign_C)
print(f_stat,p_value)

57.973333333333386 1.692627434604139e-10

In [12]:
if p_value<0.05:
  print("We reject the null hypothesis")
else:
  print("We fail to reject the null hyothesis")

We reject the null hypothesis