In [4]:
year_of_birth= int (input("Enter your year of birth here")) 
age=2025-year_of_birth
print(f"I am {age} years old")

I am 28 years old

In [ ]:
greetings=input("Say Hi to get a response")

#### Vairables
Define x to be 10 and y to be 20

In [5]:
x=10
y=20

In [6]:
#subtract
y-x

10

In [7]:
#multiply
y*x

200

In [8]:
#divide
y/x

2.0

In [11]:
#power
x**3

1000

In [12]:
y**2

400

In [13]:
z=3

In [14]:
#modulus when you divide 10 with 3
x%z

1

In [15]:
y%x

0

#### logical operators
They include
- And
- Or
- not 
#### comparison operators
For example
- equals to ==
- Not equal to !=
- greater than >
- less than <
- greater than or equals to >=
-less than or equals to <=

In [16]:
print(x+y,x**y,x%y)

30 100000000000000000000 10

In [19]:
# y greater x and z<5
x>y and z<5

False

#### Control flows
1. conditional statements
-if ...
-elif
-else
-if....else two conditions
if elif else...multiple conditions

In [21]:
miaka = int (input("weka miaka yako"))
if miaka >= 18:
  print("mtu mzima!")
else:
  print("ni mtoto!")

ni mtoto!

In [22]:
#child young adult adult or senior
miaka= int (input("weka miaka yako"))
if miaka>0 and miaka <13:
  print ("mtoto")
elif miaka >=13 and miaka <20:
  print ("Kijana")
elif miaka >=20 and miaka <35:
  print ("mtu mzima")
else:
  print ("Mzee")

Mzee

#### LOOPS
-FOR LOOPS....iterates through every element in a given data structure
-WHILE LOOPS...only when the condition remains true

In [23]:
#list of fruits
fruits = ["melon","mango","pawpaw","apple","banana"]
for fruit in fruits:
  print(fruit)

melon
mango
pawpaw
apple
banana

In [37]:
#list of numbers from 1-5
numbers=[1,2,3,4,5,6,7,8,9,10]
for number in numbers:
  print(number,end=" ")

1 2 3 4 5 6 7 8 9 10

In [31]:
# while loops
#counting from 0 and stop at 5
count = 0 
while count <5:
  print (count)
  count +=1

0
1
2
3
4

In [35]:
# break, continue ,pass
for num in numbers:
  if num >=5:
    break
  print (num)

1
2
3
4

In [40]:
#continue-- skips iteration 
for num in numbers:
  if num ==5:
    continue
  print (num)

1
2
3
4
6
7
8
9
10

In [41]:
# pass
for num in numbers:
  if num ==5:
    pass
  print (num)

1
2
3
4
5
6
7
8
9
10

#### list comprehensions
easier way of creating list from loops

In [42]:
even_numbers= [i for i in range(0,11) if i%2==0]
print(even_numbers)

[0, 2, 4, 6, 8, 10]

In [43]:
square_numbers= [i**2 for i in range(0,26)]
print(square_numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625]

In [47]:
cubed_numbers= [i**3 for i in range(0,26)]
print(cubed_numbers)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625]

In [51]:
odd_numbers= [i for i in range(0,26) if i%2!=0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [64]:
prime_numbers = [
    i for i in range(2, 26) 
    if all(i % divisor != 0 for divisor in range(2, int(i**0.5) + 1))
]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23]

#### functions
block of reusable code 
normal fuctions--- start with def
lamda functions
decorators

In [52]:
#function that adds two numbers
def add(x,y):
  return x+y

In [53]:
add1=add(10,32)
print(add1)

42

In [54]:
add2=add(23,82)
print(add2)

105

In [67]:
#function to multiply 3 numbers
def multiply(a,b,c):
  return a*b*c

In [58]:
def greeting(name):
  return f"Hello {name}"

In [61]:
greeting1=greeting("Mercy")
print (greeting1)

Hello Mercy

In [69]:
multiply1=multiply(10,11,12)
print(multiply1)

1320

#### Lamda functions

In [ ]:
product=lambda x,y,z:x*y*z

In [72]:
product1=product(12,23,32)
product1

8832

In [74]:
salamu=lambda name : f"Hello {name},welecome to luxdev "

In [77]:
greeting2=salamu("Mercy")
greeting2

'Hello Mercy,welecome to luxdev '

write a fuction that checks if a number is even or odd

#### data structures
1.sets
2.Dictionaries
3.list
4.tuples

1.LISTS
are ordered and mutable (can be changed)

In [79]:
fruits= ["apple","banana","cherry"]
fruits.append("oranges")
fruits

['apple', 'banana', 'cherry', 'oranges']

In [ ]:
fruits.pop()

'oranges'

In [81]:
fruits

['apple', 'banana', 'cherry']

2.Tupples
cannot be changed(immutable)
ordered like a list 
denoted using ()
methods....count, index

In [82]:
image_pixels=(1920,1080)
image_pixels.count(1920)

1

In [83]:
image_pixels.index(1080)

1

In [84]:
image_pixels[1]

1080

3.Sets
unordered 
mutable
denoted by {}
do not take duplicates
methods: intersection,union

In [86]:
set1 ={5,7,6,8,4}
set2 ={1,2,3,4,9}

In [88]:
set3 = set1.intersection(set2)
set3

{4}

In [89]:
set4 =set1.union(set2)
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

4.dictionaries
denoted by {}
the key pair value 
mutable

In [90]:
person={
  "name":"Mercy",
  "age":22,
  "fruit":"melon"
}

In [91]:
person

{'name': 'Mercy', 'age': 22, 'fruit': 'melon'}

In [92]:
data={
  "name":["Mercy","Faith","Nancy","Musyoka","Nickson"],
  "age":[22,23,24,25,26],
  "fruit":["melon","banana","grapes","cherry","Berries"]
}

In [94]:
import pandas as pd 
df=pd.DataFrame(data)
df.head()

      name  age    fruit
0    Mercy   22    melon
1    Faith   23   banana
2    Nancy   24   grapes
3  Musyoka   25   cherry
4  Nickson   26  Berries

#### INDEXING
1.positioning
2SLICING...used indices to return a new list without modifying the original list

In [95]:
numbers=[10,30,40,50]

In [97]:
numbers[3]

50

In [96]:
numbers[1]

30

In [98]:
numbers[:3]

[10, 30, 40]

In [100]:
numbers[1:]

[30, 40, 50]

In [102]:
numbers[1:3]

[30, 40]

In [103]:
numbers.append(65)

In [104]:
numbers

[10, 30, 40, 50, 65]

In [106]:
numbers[2:5]

[40, 50, 65]

In [1]:
import pandas as pd

#### OOP
1.CLASSES
always use upper case for the first letter
Blue-print ot creating objects
always think of attributes when creating an object 
function inside a class- methods

In [2]:
class Person :
  def __init__(self,name,age,gender,nationality):
    self.name=name
    self.age=age
    self.gender=gender
    self.nationality=nationality
  def speak(self):
    return f"Hi my name is {self.name} . i am {self.age} years old I am {self.gender} of  {self.nationality} nationality "

In [4]:
# example usage 
person1= Person ("Mawia",43,"female","Kenyan")
print(person1.speak())

Hi my name is Mawia . i am 43 years old I am female of  Kenyan nationality

In [6]:
class Rectangle :
  def __init__(self,width,length):
    self.width=width
    self.length=length
  def area(self):
    area=self.width*self.length
    return f"The area of our rectange of,width {self.width} and length {self.length} is {area}"
  def perimeter(self):
    perimeter=2*(self.width+self.length)
    return f"The perimeter of our rectangle of, width {self.width} and length{self.length} is {perimeter}"

In [8]:
rectangle1=Rectangle(7,9)
print(rectangle1.area())

The area of our rectange of,width 7 and length 9 is 63

In [9]:
rectangle1=Rectangle(7,30)
print(rectangle1.perimeter())

The perimeter of our rectangle of, width 7 and length30 is 74

In [25]:
class Circle:
    def __init__(self,radius):
      self.radius = radius
      self.PI = 22/7
    def area(self):
        area = self.PI * self.radius**2
        return f"The area of the Circle with {self.radius} is {area}"
    def perimeter(self):
        perimeter = self.PI * self.radius
        return f"the perimeter of the circle with radius {self.radius} is {perimeter}"

In [26]:
circle1=Circle(2)
print(circle1.perimeter())

the perimeter of the circle with radius 2 is 6.285714285714286

In [29]:
circle1=Circle(2)
print(circle1.area())

The area of the Circle with 2 is 12.571428571428571

In [79]:
# WRITE A CLASS CAR WITH ATTRIBUTES BRAND AND YEAR ADD A METHOD CALLED DISPLAY THAT PRINTS A FORMATTED STRING 
class Car:
  def __init__(self,brand,year):
    self.brand=brand
    self.year=year
  def display(self):
    return f"This car is a {self.brand} made in {self.year}"

In [80]:
car1=Car("Mazda",2020)
print(car1.display())

This car is a Mazda made in 2020

In [58]:
#CLASS BANK ACCOUNT WITH ATTRIBUTES BALANCE,OWNER, METHODS LIKE DEPOSIT,WITHDRAW
class BankAccount:
  def __init__(self,account_number,owner,balance):
    self.account_number=account_number
    self.owner=owner
    self.balance=balance
  def deposit(self,amount):
    if amount>0: #adds money to the account only if the amount >0
      self.balance+=amount   # += amount increases the balance
      return f"Deposited amount: {amount}. New Balance: {self.balance}"# returns a message with the new balance
    return "Deposit amount must be positive!"
  def withdraw(self,amount):
    if amount<=self.balance:
      self.balance-=amount #subtracts money from acoount if its greater or equal to the balance in the accont and subtracts money
      return f"amount withdrawn :{amount}. New balance: {self.balance}"
    return "insuffitients funds"
  def checkbalance(self):
    return f"account owner:{self.owner} account balance is {self.balance}"

In [47]:
account1=BankAccount(500,"Mercy",300)
print(account1.deposit(1000))

Deposited amount: 1000. New Balance: 1300

In [54]:
account2=BankAccount(200,"Mike",700)
print(account2.withdraw(1000))

insuffitients funds

In [59]:
account3=BankAccount(1,"Mawia",800)
print(account3.checkbalance())

account owner:Mawia account balance is 800

In [60]:
#book class with title,author,pages;methods...borrow,return,book
class Book:
  def __init__(self,title,author,pages,available=True):
    self.title=title
    self.author=author
    self.pages=pages
  def borrow(self):
    if self.available:
      self.availble=False
      return f"you borrowed '{self.title}' by {self.author} with {self.pages} pages"
    return f"The book '{self.title}' by {self.author} with {self.pages} is not available"
  def return_book(self):
    if self.available:
      self.available=False
      return f"The book with Title '{self.title}' by {self.author} with pages {self.pages} was returned"
    return f"the book with title '{self.title}' by {self.author} with pages {self.pages} was not returned"
  def booked(self):
    if self.available:
      self.available=False 
      return f"The book with Title '{self.title}' by {self.author} with pages {self.pages} is not booked"
    return f"The book with Title '{self.title}' by {self.author} with pages {self.pages} is booked"

In [68]:
book1=Book("The Messy in Between","Nancy",300,"available")
print(book1.borrow())

AttributeError: 'Book' object has no attribute 'available'

In [81]:
class Animal:
  def __init__(self,name):
    self.name=name
  def speak(self):
    return f"{self.name} makes a sound"

In [82]:
class Dog(Animal):
  def speak(self):
    return f"{self.name} says woof!"

In [83]:
dog1=Dog("Buddy")
print(dog1.speak())

Buddy says woof!

In [86]:
class Cat(Animal):
  def speak(self):
    return f"{self.name} says meow"

In [87]:
cat1=Cat("PATO")
print(cat1.speak())

PATO says meow

In [88]:
class Cow(Animal):
  def speak(self):
    return f"{self.name} says moo!"

In [89]:
cow1=Cow("Mawia")
print(cow1.speak())

Mawia says moo!

In [ ]:
#create a class Employee with name and salary, subclass manager with an extra department attribute and a method to dispay full details